#footer
  #footer-content
    #me-myself-and-i
      = t("shared.footer.by")
      = link_to "@marcgg", "http://twitter.com/marcgg"
      %br
      = link_to t("shared.footer.follow_me"), "http://twitter.com/marcgg"
    #credits
      .entry.clearfix
        = image_tag "icons/rails.png"
        = link_to t("shared.footer.rails"), "http://rubyonrails.org/"
        &#9829;
      .entry.clearfix
        = image_tag "icons/font.jpg"
        = link_to t("shared.footer.font"), "http://fontfabric.com/code-free-font-3/"
      .entry.clearfix
        = image_tag "icons/less.png"
        = link_to t("shared.footer.less"), "http://lesscss.org/"
      .entry.clearfix
        = image_tag "icons/webdd.png"
        = link_to t("shared.footer.main_icons"), " http://www.webdesignerdepot.com/2009/04/24-free-exclusive-vector-icons-handy/"
      .entry.clearfix
        = image_tag "icons/haml.png"
        = link_to t("shared.footer.haml"), "http://haml-lang.com/"
      .entry.clearfix
        = image_tag "icons/jquery.png"
        = link_to t("shared.footer.jquery"), "http://jquery.com/"
      .entry.clearfix
        = image_tag "icons/highcharts.png"
        = link_to t("shared.footer_charts"), "http://www.highcharts.com"  
      .entry.clearfix
        = image_tag "icons/function.png"
        = link_to t("shared.footer.additional_icons"), "http://wefunction.com/2008/07/function-free-icon-set/"
    #sources
      = link_to t("shared.footer.github"), "http://github.com/marcgg/tmsa"
      = t("shared.footer.github_invite")
      