#footer
  #footer-content
    #me-myself-and-i
      Website by 
      = link_to "@marcgg", "http://twitter.com/marcgg"
      
    #credits
      .entry.clearfix
        = image_tag "icons/rails.png"
        = link_to "Website created using Ruby on Rails", "http://rubyonrails.org/"
      .entry.clearfix
        = image_tag "icons/font.jpg"
        = link_to "Main font is Code Free Font", "http://fontfabric.com/code-free-font-3/"
      .entry.clearfix
        = image_tag "icons/less.png"
        = link_to "CSS handled with LESS JS", "http://lesscss.org/"
      .entry.clearfix
        = image_tag "icons/webdd.png"
        = link_to "Social media icons from Web Designer Depot", " http://www.webdesignerdepot.com/2009/04/24-free-exclusive-vector-icons-handy/"
      .entry.clearfix
        = image_tag "icons/haml.png"
        = link_to "Also, Haml!", "http://haml-lang.com/"
      .entry.clearfix
        = image_tag "icons/jquery.png"
        = link_to "jQuery for the Javascript", "http://jquery.com/"
        
    #sources
      The sources for this website are hosted on 
      = link_to "github.", "http://github.com/marcgg/tmsa"
      Feel free to send me feedbacks or add features.