%p= t("home.facebook_page.description")
  
= render :partial => "pseudo_legal_blurb"

%p= t("home.enough_talking")

- form_for PubAccount.new do |f|
  = f.label :account, t("home.facebook_page.account")
  = f.text_field :account
  
  = f.label :reason, t("home.facebook_page.reason")
  = f.text_area :reason
  
  = hidden_field_tag :type, "PubAccounts::FacebookPage"
  
  = f.submit t("track")
  