!!!
%head
  %title
    Track My Social Account - Get more stats from Facebook and Twitter
  %link{:rel => "stylesheet/less", :href => "/stylesheets/main.less", :type => "text/css"}
  %link{:rel => "shortcut icon", :href => "/images/favicon.png"}
  = stylesheet_link_tag "reset"
  = javascript_include_tag "less", "http://code.jquery.com/jquery-1.4.2.min.js", "hightcharts/js/highcharts.js", "hightcharts/js/modules/exporting.js", "application"
  
%body
  - unless flash[:notice].blank?
    #flash= flash[:notice]

  #header
    = link_to "", "/", :id => "logo"
    = render :partial => "/shared/search"
      
  #content
    = yield
    
  = render :partial => "/shared/footer"
            